<footer>
<ul>
<li><a href="about.php">About</a></li>
<li><a href="terms.php">Terms</a></li>
<li><a href="privacy.php">Privacy</a></li>
<li><a href="copyright.php">Copyright</a></li>
<li><a href="help.php">Help</a></li>
</ul>
</footer>
</div>
</div>

</body>
</html>
