<?php
$head = <<<HEREDOC
<style>
.promo-banner {
	display: flex;
}
.promo-banner .logo {
	font-size: 32px;
	font-weight: bold;
	background-color: #3a5aaa;
	color: white;
	width: 200px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	border: 3px solid white;
	outline: 1px solid #DDD
}
.promo-banner .text {
	height: 90px;
	width: 280px;
	align-items: center;
	justify-content: center;
	font-size: 16px;
}
.promo-more {
	padding-top: 20px;
	font-size: 11px;
}
.promo-more ul {
	list-style: none;
	padding: 0;
}
.promo-more li {
	margin: 13px 0;
}
.promo-more img {
	vertical-align: middle;
}
.signup {
	padding: 10px;
	background-color: #DDF;
	border: 1px solid #BBD;
	margin-left: 10px;
	color: #333;
	width: 240px;
}
.signup h2 {
	display: block;
	padding-bottom: 4px;
	margin: 0;
	font-size: 12px;
}
.signup dl {
	list-style: none;
	width: 240px;
	overflow: hidden;
}
.signup input {
	width: 140px;
}
.signup dt {
	float: left;
	display: inline-block;
	width: 70px;
	text-align: right;
	padding-top: 3px;
}
.signup dd {
	width: 150px;
	margin-left: 6px;
	float: left;
	margin-bottom: 4px;
}
.signup a:link, .signup a:visited {
	text-decoration: none;
	color: #3a5aaa;
}
.signup a:hover {
	text-decoration: underline;
}
.signup input.submit {
	width: auto;
	background-color: #64ad40;
	color: white;
	padding: 4px 12px;
	border: 0;
	border-top: 2px solid rgba(255, 255, 255, 0.3);
	outline: 1px solid #549136;
}
</style>
HEREDOC;

get_header();
?>
	<main style="padding: 30px">
<div class="promo-banner">
	<div class="logo">facepunch</div>
	<div class="text">Facepunch is a service that <em>connects you</em> to friends, family, law enforcement, and invasive government</div>
</div>
<div style="display: flex; margin-top: 15px">
	<div class="promo-more">
<strong>Use Facepunch to..</strong>
<ul>
	<li><img src="theme/group.png" /> Keep up with friends and family</li>
	<li><img src="theme/images.png" /> Share photos and videos</li>
	<li><img src="theme/lock.png" /> Lose your privacy online</li>
	<li><img src="theme/world.png" /> Share your personal info to the world</li>
</ul>
	</div>
	<div class="signup">
		<h2>Signup for Facepunch</h2>
		It's free and <strong><em>anyone</em></strong> can join.
<form action="" method="post">
	<input type="hidden" name="action" value="signup" />
		<dl>
			<dt>Full Name</dt>
			<dd><input type="text" name="real_name" value="<?= htmlspecialchars(@$_POST['real_name']) ?>" /></dd>
			<dt>Username</dt>
			<dd><input type="text" name="username" value="<?= htmlspecialchars(@$_POST['username']) ?>" /></dd>
			<dt>Password</dt>
			<dd><input type="password" name="password" value="<?= htmlspecialchars(@$_POST['password']) ?>" /></dd>
			<dt>I am</dt>
			<dd><select name="gender">
				<option value="">Select option:</option>
				<option>Male</option>
				<option>Female</option>
			</select></dd>
			<dt>&nbsp;</dt>
			<dd><input type="submit" class="submit" value="Sign Up" /></dd>
		</dl>
<?php if(!empty($signup_errors)): ?>
	There was some problems with your request:
<ul class="errors">
	<?php foreach($signup_errors as $error): ?>
		<li><?= $error ?></li>
	<?php endforeach; ?>
</ul>
<?php endif; ?>
		<small>By clicking Sign Up, you are indicating that you
			are blindly agreeing to the <a href="terms.php">Terms of Use</a>, and that you
			probably didn't read the <a href="privacy.php">Privacy Policy</a> either.</small>
</form>
	</div>
</div>
	</main>
<?= get_footer() ?>
