<?php
$head = <<< HEREDOC
<style>
.post-options {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-bottom: -1px;
}
.post-options li {
	display: inline-block;
}
.post-options img {
	width: 12px;
	vertical-align: middle;
	margin-right: 4px;
}
.post-options a:link {
	display: block;
	text-decoration: none;
	font-weight: bold;
	/*color: #344980;*/
	color: #333;
	padding: 4px 8px;
}
.post-options a:hover {
	border-radius: 2px 2px 0 0;
	background-color: #EEE;
	text-decoration: underline;
}
.post-options .selected {
	background-color: #DDF;
	border: 1px solid #BBD;
	border-bottom-width: 0;
	border-radius: 2px 2px 0 0;
}
.post-input {
	background-color: #DDF;
	border: 1px solid #BBD;
	padding: 5px;
}
.post-input div {
	display: none;
}
.post-input div.selected {
	display: block;
}
#form-status form {
	display: flex;
}
#form-status input[type=text] {
	display: flex;
	margin-right: 5px;
	flex-grow: 1;
}
#form-status input[type=submit] {
	border: 0;
	background-color: #3a5aaa;
	color: white;
}
#form-link input[type=url] {
	width: 100%;
}
#form-link input[type=text] {
	margin-top: 5px;
	width: 80%;
}
#form-note textarea {
	width: 100%;
}
.post-input input[type=submit] {
	border: 0;
	background-color: #3a5aaa;
	color: white;
	padding: 3px 6px;
	font-size: 11px;
}
</style>
HEREDOC;

get_header(); ?>
	<main style="padding: 30px">
		<ul class="post-options">
			<li><a href="javascript:showTab('status')" id="tab-status" class="selected"><img src="theme/comment.png" />Update Status</a></li>
			<li><a href="javascript:showTab('note')" id="tab-note"><img src="theme/page_white_add.png" />Write Note</a></li>
			<li><a href="javascript:showTab('img')" id="tab-img"><img src="theme/images.png" />Add Photos</a></li>
			<li><a href="javascript:showTab('link')" id="tab-link"><img src="theme/link.png" />Share Link</a></li>
		</ul>
		<div class="post-input">
			<div id="form-status" class="selected">
				<form action="" method="post">
					<input type="text" name="status" style="width: 80%;" placeholder="Update your status" />
					<input type="submit" value="Post" />
				</form>
			</div>
			<div id="form-note">
				<textarea></textarea><br />
				<input type="submit" value="Post" />
			</div>
			<div id="form-img">
				<form action="" method="post">
					<input type="file" />
				</form>
			</div>
			<div id="form-link">
				<input type="url" placeholder="URL to share (e.g. http://example.com)" /><br />
				<input type="text" placeholder="Description of the link" />
				<input type="submit" value="Post" />
			</div>
		</div>
<script>
function showTab( selection ) {
	var tabs = ['status', 'note', 'img', 'link'];

	tabs.forEach(function(kind) {
		if ( selection == kind ) {
			document.getElementById( 'tab-'+kind ).classList.add('selected');
			document.getElementById( 'form-'+kind ).classList.add('selected');
		} else {
			document.getElementById( 'tab-'+kind ).classList.remove('selected');
			document.getElementById( 'form-'+kind ).classList.remove('selected');
		}
	});
}
</script>
	</main>
<?php get_footer(); ?>
