body {
	font-family: sans-serif;
	font-size: 11px;
	margin: 0;
	padding: 0;
	background-color: #EEE;
}
#center {
	width: 720px;
	margin: auto;
}
#sidebar {
	width: 180px;
	float: left;
}
#sidebar h1 {
	background-color: #3a5aaa;
	margin: 0;
	font-size: 18pt;
	color: white;
	padding: 30px 0 6px 10px;
	border-bottom: 4px solid #94a5d1
}
#menu {
	font-size: 11px;
	color: #333;
	padding: 10px;
	background-color: #DDF;
	min-height: 100px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
#menu input[type=text], #menu input[type=password] {
	border: 1px solid #BBB;
	padding: 3px;
	margin-bottom: 8px;
}
#menu input[type=submit] {
	background-color: #3a5aaa;
	color: white;
	padding: 3px 20px;
	border: 1px solid #6c81b7;
	border-bottom-color: #1e3571;
	border-right-color: #1e3571;
	font-size: 12px;
	margin: 9px 0;
}
#menu label {
	font-weight: bold;
}
#menu .forgot:visited, #menu .forgot:link {
	color: #3a5aaa;
	text-decoration: none;
}
#menu .forgot:hover {
	text-decoration: underline;
}
#page {
	float: right;
	width: 540px;
}
#header {
	background-color: #3a5aaa;
	overflow: hidden;
	margin-right: 20px;
	padding-top: 10px;
}
#header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#header li {
	display: inline-block;
}
#header .main {
	float: left;
}
#header .main li {
	margin-right: 14px;
}
.main a:link, .main a:visited {
	color: white;
	font-size: 14px;
	text-decoration: none;
}
.main a:hover {
	text-decoration: underline;
}
#header .account {
	float: right;
	font-size: 11px;
	padding: 4px 14px 10px 0;
}
.account a:link, .account a:visited {
	color: #c0c9e0;
	text-decoration: none;
}
.account a:hover {
	color: white;
	text-decoration: underline;
}
#header .edit:link, #header .edit:visited {
	color: #c0c9e0;
	font-size: 11px;
	margin-left: -8px;
}
.account li {
	margin-left: 8px;
}
main {
	background-color: white;
	min-height: 300px;
	border: 1px solid rgba(0,0,0,0.2);
	margin-left: -1px;
	margin-top: -1px;
	padding: 15px;
}

footer ul {
	list-style: none;
	margin: 0;
	padding: 8px 0;
	text-align: right;
}
footer li {
	display: inline-block;
}
footer a:link, footer a:visited {
	color: #3a5aaa;
	text-decoration: none;
	padding: 6px;
}
footer a:hover {
	text-decoration: underline;
}
